/* comon shared style */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  color: wheat;
  font-weight: 700;
  border: 0;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
/* nav related style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-tital {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
}

/* header related style */
.header {
  background-color: #fff8f3;
  background-image: url('./images/header_bg.png'),url('./images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right,
  bottom left;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}

.banner-gretting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.banner-contant {
  max-width: 500px;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0px auto;
}
main section {
  margin-top: 130px;
}

/* About section style */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  color: #2c2828;
  text-align: center;
  font-size: 20px;
  line-height: 0px;
}

#what-i-do {
  padding: 30px 150px;
}

.skill-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 10px 10px 5px 0px rgba(68, 39, 39, 0.06);
}

.skill-description {
  color: #964646;
}

/* resume section */
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-container hr {
  margin: 30px;
}

.resume-column {
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.resume-item-institute {
  color: #757575;
  margin: 0px;
}

.resume-item-description {
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}
hr {
  margin-top: 0px;
}

.download-cv {
  text-align: center;
  margin-top: 20px;
}

/* footer section */
footer {
  padding: 130px 200px;
  background-color: #fff8f3;
  display: flex;
  margin-top: 100px;
  gap: 100px;
}
.footer-culomn {
  width: 50%;
  background-color: #eff8f1;
  border-radius: 10px;
}

.contact input[type="email"],input[type="text"],
textarea {
  display: block;
  padding: 18px 30px;
  margin-bottom: 25px;
  color: #757575;
  font-size: 20px;
  /* line-height: 28px; */
  border-radius: 10px;
  border: 0px;
  width: 70%;
  margin-left: 20px;
}
.social-link{
  display: flex;
  gap: 20px;
}
p.section-description{
  padding: 0px 100px;
}
